<section class="facility" id="facility">

    <div class="container">

        <h1 class="heading"><span>'</span> our facilities <span>'</span></h1>

        <div class="box-container">

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img1.png" title="our team">
                    <img src="assets/images/img1.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img2.png" title="our lab">
                    <img src="assets/images/img2.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img3.png" title="emergency rooms">
                    <img src="assets/images/img3.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img4.png" title="expert doctors">
                    <img src="assets/images/img4.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img5.png" title="expert doctors">
                    <img src="assets/images/img5.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img6.png" title="emergency rooms">
                    <img src="assets/images/img6.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img7.png" title="expert doctors">
                    <img src="assets/images/img7.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assets/images/img8.png" title="emergency rooms">
                    <img src="assets/images/img8.png" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="assetsimages/img9.png" title="enough beds">
                    <img src="assets/images/img9.png" alt="">
                </a>
            </div>

        </div>

    </div>

</section>