<section class="about" id="about">

    <div class="container">

        <div class="row min-vh-100 align-items-center">

            <div class="col-md-6 content" data-aos="fade-right">

                <div class="box">
                    <h3> <i class="fas fa-ambulance"></i> ambulance services </h3>
                    <p>You can get verified ambulance.</p>
                </div>

                <div class="box">
                    <h3> <i class="fas fa-procedures"></i> emergency rooms </h3>
                    <p>Emergency Beds are available for emergency patients.</p>
                </div>

                <div class="box">
                    <h3> <i class="fas fa-stethoscope"></i> free check-ups </h3>
                    <p>Free check-ups are available for senior citizens.</p>
                </div>

            </div>

            <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
                <img src="assets/images/about-img.png" width="100%" alt="">
            </div>

        </div>

    </div>

</section>