<section class="post" id="post">

    <div class="container min-vh-100">

        <h1 class="heading"><span>'</span> out posts <span>'</span></h1>

        <div class="box-container">

            <div class="box" data-aos="fade-right">
                <img src="assets/images/image1.png" alt="">
                <div class="content">
                    <span>jan 5, 2020</span>
                    <a href="#">
                        <h3>Committed To Build A Positive, Safe, Patient Focused Culture.</h3>
                    </a>
                    <p>Today HealthCare is recognized as a renowned institution, not only providing outstanding care and treatment but improving the outcomes for all through comprehensive medical research.</p>
                    <!-- <a href="#"><button class="button">learn more</button></a> -->
                </div>
            </div>

            <div class="box" data-aos="fade-up">
                <img src="assets/images/image2.png" alt="">
                <div class="content">
                    <span>june 25, 2020</span>
                    <a href="#">
                        <h3>Why choose HealthCare?</h3>
                    </a>
                    <p>We are a multi-specialty tertiary level private hospital with more than 100 years of superior ethical medical care</p>
                    <!-- <a href="#"><button class="button">learn more</button></a> -->
                </div>
            </div>

            <div class="box" data-aos="fade-left">
                <img src="assets/images/image3.png" alt="">
                <div class="content">
                    <span>March 10, 2021</span>
                    <a href="#">
                        <h3>patients Happiness Is First Priority</h3>
                    </a>
                    <p>HealthCare brings back Soham's smile.</p>
                    <!-- <a href="#"><button class="button">learn more</button></a> -->
                </div>
            </div>

        </div>

    </div>

</section>