<section class="review" id="review">

    <div class="container">

        <h1 class="heading"><span>'</span> people's review <span>'</span></h1>

        <div class="box-container">

            <div class="box" data-aos="fade-right">
                <p>Recently visited health check up department of Apollo Hospital for a whole body check up. The entire process from check in to the end was seamless. The staff at the health check department was courteous, helpful and very attentive.I
                    would highly recommend this hospital to anyone looking for something similar services.</p>
                <h3>Mr.Vinayak Bhosale</h3>
                <span>jan 5, 2021</span>
                <img src="assets/images/pic1.png" alt="">
            </div>

            <div class="box" data-aos="fade-up">
                <p>It's very well mannered staff good coordination with patients. Mrs. Praveena garu assisted very well and taken good care towards patients. Overall experience is satisfactory.</p>
                <h3>Mrs.Sonali Bendre</h3>
                <span>jan 7, 2021</span>
                <img src="assets/images/pic2.png" alt="">
            </div>

            <div class="box" data-aos="fade-left">
                <p>Dr Vijay Kumar Chennamchetty: We met Dr Vijay Chennamchetty last month with severe cough and sputum for my father Dr Varaprasad. His way of handling patients is excellent and so soothing that the patient feels immensely confident about
                    recovery. Thanks to Dr. Vijay, within 2 weeks, he is completely normal.</p>
                <h3>Mr.Mahadev Malusare</h3>
                <span>jan 10, 2021</span>
                <img src="assets/images/pic3.png" alt="">
            </div>

        </div>

    </div>

</section>

<section class="counter">

    <div class="container">

        <div class="box-container">

            <div class="box" data-aos="fade-up">
                <i class="fas fa-hospital"></i>
                <span>120+</span>
                <h3>Hospitals</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-users"></i>
                <span>100+</span>
                <h3>staff</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-smile"></i>
                <span>1200+</span>
                <h3>happy patients</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-procedures"></i>
                <span>130+</span>
                <h3>bed facility</h3>
            </div>

        </div>

    </div>

</section>